.about {
    margin-bottom: 6rem;
    .title {
        font-size: var(--text-3xl);
        text-align: center;
    }
    a {
        color: var(--gray-0);
        &:hover {
            color: var(--gray-0);
        }
    }
    p {
        text-align: justify;
        font-size: var(--text-md);
    }
}