aside {
    .contact-me {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    border-bottom: 1px solid var(--gray-800);
    border-top: 1px solid var(--gray-800);
    gap: 2rem;
    padding: 5rem 0.5rem;
    // background-color: var(--gray-999);
    box-shadow: var(--shadow-sm);
    h2 {
        margin: 0;
        text-align: center;
        max-width: 20ch;
        font-weight: 700;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.56rem 2rem;
        border-radius: 999rem;
        text-decoration: none;
        font-family: var(--font-public-sans);
        color: var(--accent-text-over);
        font-size: var(--text-lg);
        box-shadow: var(--shadow-md);
        background: var(--gradient-accent-orange);
        line-height: 1.1;
        gap: 0.8rem;
        max-width: 300px;
        &:hover {
            transition: all 0.2s ease-in-out !important;
            box-shadow: var(--shadow-lg);
            background: var(--gradient-accent-orange-hover);
        }
        svg {
            width: 30px;
            height: 30px;
            fill: var(--accent-text-over);
        }
    }
}
@media screen and (min-width: 800px) {
    aside {
        .contact-me {
            flex-direction: row;
            gap: 0rem;
        }
 
        h2 {
            font-size: var(--text-3xl);
            margin: auto;
        }
        a {
            margin: auto;

            font-size: var(--text-xl);
        }
    }
}
