.hero {
    display: flex;
    flex-direction: column;
    font-size: var(--text-lg);
    gap: 2rem;
    .profile {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        .hero {
            flex-direction: column;
        }
    }
    .socials {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        svg {
            border: 3px solid var(--gray-300);

            padding: 0.35rem;
            border-radius: 999rem;
            &:hover {
                fill: var(--accent-regular);
                border: 3px solid var(--accent-regular);
                transform: scale(1.05);
                transition: all 0.2s ease-in-out !important;
            }
        }
    }
    .button.cv {
        margin: auto;
        max-width: 200px;
        margin-bottom: 1rem;
        &:hover {
            transition: all 0.2s ease-in-out !important;
            box-shadow: var(--shadow-lg);
            background: var(--gradient-accent-orange-hover);
        }
        svg {
            fill: var(--accent-text-over);
        }
    }
    h1 {
        text-align: center;
        margin: 0;
        font-size: var(--text-4xl);
        font-weight: 700;
    }
    h2 {
        margin: 0;
        text-align: center;
        color: var(--gray-100);
        font-size: var(--text-3xl);
        max-width: 37ch;
        margin: auto;
        font-weight: 600;
    }

    .tagline {
        text-align: center;
        max-width: 37ch;
        margin: auto;
        color: var(--gray-0);
    }
    .container-portrait {
        display: flex;
    }
    .portrait {
        margin: auto;
        object-fit: cover;
        // object-position: -190px;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
        width: 100%;
        max-width: 480px;
        max-height: 380px;
        aspect-ratio: 5 / 5;
        background-size: 100% 100%;
    }
    .language {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5rem;
        .ZoomOut {
            display: flex;
        }
        .tagline {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: var(--text-md);
            color: var(--accent-text-over);
            padding: 0.5rem;
            border-radius: 99rem;
            background-color: var(--accent-regular);
            // background: var( --gradient-accent);
            box-shadow: var(--shadow-sm);
            border: 1px solid var(--gray-800);
            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: var(--accent-text-over);
            }
            img {
                width: 1.5rem;
                height: 1.5rem;
                filter: brightness(0) invert(1);
            }
        }
    }
}
@media screen and (min-width: 800px) {
    .hero {
        .profile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .hero {
                flex: 3;
                padding: 0;
                padding: 0 1rem;
                .tagline {
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                }
                .socials {
                    justify-content: start;
                }
                .button.cv {
                    margin: 0;
                    max-width: 200px;
                }
                h1 {
                    text-align: start;
                    font-size: var(--text-5xl);
                    font-weight: 700;
                    margin: 0;
                    max-width: 20ch;
                }
                h2 {
                    text-align: start;
                    font-size: var(--text-3xl);
                    font-weight: 500;
                    margin: 0.2rem 0;
                }
                p {
                    text-align: start;
                    margin: 0;
                }
            }
            .container-portrait {
                flex: 2;
                .portrait {
                    height: 100%;
                    max-height: 550px;
                    border-radius: 4rem;
                    aspect-ratio: 3.2/4;
                }
            }
        }
        .language {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            gap: 1rem;
        }
    }
}
