.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--gray-800);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-sm);
    .stack {
        h2 {
            margin: 0;
            font-size: var(--text-xl);
        }
        p {
            color: var(--gray-400);
            margin: 0;
        }
    }
}

@media screen and (min-width: 800px) {
    .skills {
        gap: 5rem;
        flex-direction: row;
        padding: 2.5rem;
        border-radius: 1.5rem;
        .stack {

            h2 {
                font-size: var(--text-2xl);
            }
        }
    }
}
