.header.works {
    border-bottom: 1px solid var(--gray-800);
    padding-bottom: 2.5rem;
    h1 {
        font-size: var(--text-3xl);
    }
    .back-link {
        font-size: var(--text-md);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .details {
        display: flex;

        justify-content: center;
        align-items: center;
        p {
            text-align: center;
        }
        .tags {
            display: flex;
            span {
                background-color: var(--accent-regular);
                padding: 0.5rem 1rem;
                border-radius: 999rem;
                color: var(--accent-text-over);
            }
        }
    }
}
.container.works {
    .style {
        background-color: var(--gray-800);
        border-radius: 0.5rem;
        padding: 0.15rem 0.4rem;
        font-weight: 600;
    }
    .image {
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            max-height: 45rem;
            object-fit: cover;
            object-position: top;
            box-shadow: var(--shadow-md);
            border-radius: 1rem;
        }
    }
    .image:hover {
        img {
            transition: all 0.3s ease-in-out;
            box-shadow: var(--shadow-lg);
            scale: 1.005;
        }
    }
    hr {
        width: 100%;
        border-top: 3px var(--gray-800);
        margin-bottom: 1.5rem;
    }
    padding: 0;
    .title {
        font-size: var(--text-3xl);
    }
    h2 {
        margin: 0;
        margin-bottom: 1rem;
        color: var(--gray-100);
    }
    p,
    li {
        margin: 0;
        font-size: var(--text-md);
        text-align: justify;
    }
    li {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    ol {
        margin: 0;
        font-size: var(--text-md);
    }
    a {
        color: var(--accent-text-over);
    }
}

@media screen and (min-width: 800px) {
    .container.works {
        .image {
            img {
                border-radius: 2rem;
            }
        }
    }
}
